
    <div class="row">

        <img class="icon m-2 mx-3" src="{{disp.sensor[0].state.icon}}">
        <p class="panelFont m-1">{{disp.sensor[0].kind.name}}</p>
        
    </div>
    
    <div class="row">

        <img class="icon m-2 mx-3" src="{{disp.sensor[0].state.icon}}">
        <p class="panelFont m-1">{{disp.sensor[1].kind.name}}</p>
        
    </div>
    
    <div class="row">

        <img class="icon m-2 mx-3" src="{{disp.sensor[0].state.icon}}">
        <p class="panelFont m-1">{{disp.sensor[2].kind.name}}</p>
        
    </div>
    
    <div class="row">

        <img class="icon m-2 mx-3" src="{{disp.sensor[0].state.icon}}">
        <p class="panelFont m-1">{{disp.sensor[3].kind.name}}</p>
        
    </div>